    {{> head }}
    {{> navbar }}
<div class="row">
    <div class="col-8">
    <h1>Mi foto</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tenetur mollitia, quaerat alias provident dolorum vero eius perferendis, quos sint rerum? Repellat placeat velit voluptates beatae reprehenderit laboriosam aut magni.
    </p>
    </div>

    <div class="col-4">
        <img src="assets/img/f-3.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}
